.icono-principal {
    margin-right: 10px;
}

.fondo-principal {
    --background: linear-gradient(#84b6f4, #af7ead, #84b6f4);;
    --color: #000000;
}

.fondo-trasnparente {
    --background: #ffffff00;
}

.card-principal {
    --background: linear-gradient(70deg, #005187, #f8e44b);
    --color: #ffffff;
}

.texto-principal {
    --color: #ffffff;
}