.icono-principal {
    margin-right: 10px;
}

.fondo-principal {
    --background: linear-gradient(#351d4d, #3f1644, #351d4d);;
    --color: #000000;
}

.card-principal {
    --background: linear-gradient(70deg, #005187, #2c7640);
    --color: #ffffff; 
}

.texto-principal {
    --color: #ffffff;
}