<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
    <ion-img src="assets/login.svg" class="img-login"></ion-img>

    <div class="ion-margin ion-text-center">
      <ion-label class="titulo"> ¡Bienvenido!</ion-label>
    </div>

      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="mdl_correo" label="Correo Electronico" label-placement="floating" fill="outline" placeholder="Correo Electronico"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="mdl_contrasena" label="Contraseña" type="password" label-placement="floating" fill="outline"  placeholder="Contraseña"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button class="boton" (click)="iniciarSesion()">Ingresar</ion-button>
        </ion-col>
      </ion-row>
 
    <ion-button class="boton" (click)="navegarCrearUsuario()" expand="block" fill="clear">Crear Cuenta</ion-button>
    
</ion-content>
