<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-img src="assets/crear-usuario.svg" class="img-crear-usuario"></ion-img>

  <div class="ion-margin ion-text-center">
    <ion-label class="titulo"> Creación de Usuario</ion-label>
  </div>

  
  <ion-row>
    <ion-col>
      <ion-input [(ngModel)]="mdl_nombre" label="Nombre"  label-placement="floating" fill="outline"  placeholder="Nombre"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
    <ion-input [(ngModel)]="mdl_apellido" label="Apellido" label-placement="floating" fill="outline"  placeholder="Apellido"></ion-input>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input [(ngModel)]="mdl_correo" label="Correo Electronico" label-placement="floating" fill="outline"  placeholder="Correo Electronico"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row> 
    <ion-col>
      <ion-input [(ngModel)]="mdl_contrasena" label="Contraseña" type="password" label-placement="floating" fill="outline"  placeholder="Contraseña"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-input [(ngModel)]="mdl_carrera"  label="Carrera"  label-placement="floating" fill="outline" placeholder="Carrera"></ion-input>
    </ion-col>
  </ion-row>


  <ion-button class="boton" expand="block" (click)="crearUsuario()">Crear Cuenta</ion-button>
  <ion-button class="boton-secundario" expand="block" fill="clear" (click)="volverLogin()">Volver</ion-button>
</ion-content>

